<div class="header_background-image-wrapper">
          <div class="header_overlay-layer"></div>{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'eager', class: 'header_background-image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'header_background-image' }} 
{% endif %}
        </div>
        <div class="padding-global">
          <div class="div-block-3">
            <div class="header_card text-color-white">
              <h1 class="heading-style-h1">
{{ section.settings.text_heading }}
</h1>
              <div class="button-group">
                <a href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
              </div>
            </div>
            <p class="text-color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          </div>
        </div> {% schema %} {
    "tag": "header",
    "name": "Image with Text",
    "class": "section_header-home",
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "GO <br\/>AGAI<br\/>NST<br\/>THE<br\/>GRAIN"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button-Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button-Text",
            "default": "Shop Now"
        }
    ],
    "presets": [
        {
            "name": "Image with Text",
            "category": "Content",
            "blocks": []
        }
    ]
} {% endschema %}