<div class="header_background-image-wrapper">
          <div class="header_overlay-layer"></div>{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'eager', class: 'header_background-image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'header_background-image' }} 
{% endif %}
        </div>
        <div class="padding-global">
          <div class="div-block-3">
            <div class="header_card text-color-white">
              <h1 class="heading-style-h1">
{{ section.settings.text_heading }}
</h1>
              <div class="button-group">
                <a href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
              </div>
            </div>
            <p class="text-color-white">
{{ section.settings.text_paragraphe }}
</p>
          </div>
          <div class="hero-bottom_wrapper">
            <div class="hero-bottom_container">
              <div class="hero-bottom_title-wrapper">
                <h2 class="text-color-white text-align-center heading-style-h3">
{{ section.settings.text_text }}
</h2>{% if section.settings.image_icon %}
{{ section.settings.image_icon | image_url: width: 1000 | image_tag: loading: 'lazy' }}
{% else %}
<img src="{{ 'SVG_margin.png' | asset_url }}" loading="lazy" alt="">
{% endif %}
              </div>
              <div class="hero-bottom_cards-wrapper">
                <div class="more_list-wrapper w-dyn-list">
                  <div li-content-for-theme-blocks="" role="list" class="more_liste w-dyn-items">
{% content_for 'blocks' %}
</div>
                  <div class="hide w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
                <div class="hero-bottom_cards-main-title text-color-white">
                  <p class="heading-style-h3 container-large text-align-center">
{{ section.settings.text_text }}
</p>
                </div>
              </div>
            </div>
          </div>
          <div class="spacer-large"></div>
        </div> {% schema %} {
    "tag": "header",
    "name": "Image with Text",
    "class": "section_header-home",
    "blocks": [
        {
            "type": "header-block"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "GO <br\/>AGAI<br\/>NST<br\/>THE<br\/>GRAIN"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button-Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button-Text",
            "default": "Shop Now"
        },
        {
            "id": "text_paragraphe",
            "type": "text",
            "label": "Paragraphe",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere."
        },
        {
            "id": "text_text",
            "type": "text",
            "label": "Text",
            "default": "A <br\/>montreal specialty coffee company"
        },
        {
            "id": "image_icon",
            "type": "image_picker",
            "label": "Icon"
        }
    ],
    "presets": [
        {
            "name": "Image with Text",
            "category": "Content",
            "blocks": [
                {
                    "type": "header-block"
                }
            ]
        }
    ]
} {% endschema %}