<div class="padding-global padding-section-small">
          <div class="container-large">
            <div class="product-header_component">
              <script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="w-layout-grid product-header_layout" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
                <div id="w-node-_4b0e9b61-6f53-1185-9fdd-143753136862-5313685d" class="swiper-container is-product-gallery">
                  <div class="swiper is-product-gallery">
                    <div id="my-gallery" li-for:inside="media in product.media" class="swiper-wrapper is-product-gallery">
        {% for media in product.media %}                            
                      
                            {% if media.media_type == 'image' %}    <div li-if="media.media_type == 'image'" class="swiper-slide is-product-gallery">
    
                        <div class="product-header_gallery-lightbox"><img loading="lazy" li-object:src="media | image_url: width: 1000" li-object:alt="media.alt" src="{{ media | image_url: width: 1000 }}" alt="{{ media.alt }}" class="product-header_gallery-image"></div>
                          </div>
{% endif %}
                            
                      
                            {% if media.media_type == 'video' %}    <div li-if="media.media_type == 'video'" class="swiper-slide is-product-gallery">
    
                        <div class="product-header_gallery-lightbox">
                          <div li-object="media | video_tag: controls: true" class="product-header_gallery-image">{{ media | video_tag: controls: true }}</div>
                        </div>
                          </div>
{% endif %}
                            
                    
                    {% endfor %}    </div>
                  </div>
                  <div class="spacer-xxhuge"></div>
                  <div class="product-header_info-left">
                    {% for block in section.blocks %}
    {% if block.type == "saveurs" %}
                    <div li-block="saveurs" class="saveurs">
                                    
                      
                                    {% if product.metafields.shopify.flavor.value %}    <div li-if="product.metafields.shopify.flavor.value">
    
                        {% for f in product.metafields.shopify.flavor.value %}    <div li-for="f in product.metafields.shopify.flavor.value">
                                    
                          
                            <h2 li-object="f.label" class="heading-style-h3 text-align-center">{{ f.label }}</h2>
                            
                        
                        </div>
{% endfor %}
                          </div>
{% endif %}
                                    
                    
                            </div>
            {% endif %}
{% endfor %}
                  </div>
                </div>
                <div li-content-for-theme-blocks="right" id="w-node-_4b0e9b61-6f53-1185-9fdd-143753136879-5313685d" class="product-header_product-details">
{% content_for 'blocks' %}
</div>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
          <script>
document.addEventListener("DOMContentLoaded", () => {
  $(".swiper-container").each(function (index) {
    const thumbsSwiper = new Swiper($(this).find(".swiper.is-product-thumbnail")[0], {
      slidesPerView: "auto",
      rewind: false,
      loopedSlides: 8,
      slideToClickedSlide: true,
      spaceBetween: "4%",
    });
    const swiper = new Swiper($(this).find(".swiper.is-product-gallery")[0], {
      mousewheel: {
        forceToAxis: true
      },
      thumbs: {
        swiper: thumbsSwiper,
        slideThumbActiveClass: "is-active",
      },
      keyboard: {
        enabled: true,
        onlyInViewport: true
      },
      navigation: {
        nextEl: $(this).find(".swiper-next")[0],
        prevEl: $(this).find(".swiper-prev")[0],
      }
    });
  }); 
});
</script>
        </div> {% schema %} {
    "tag": "section",
    "name": "Product Hero",
    "class": "section_product-header",
    "blocks": [
        {
            "type": "product-name"
        },
        {
            "type": "product-price"
        },
        {
            "type": "description"
        },
        {
            "type": "vendor"
        },
        {
            "type": "tags"
        },
        {
            "type": "add-to-cart"
        },
        {
            "type": "availability"
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "Product Hero",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "saveurs"
                },
                {
                    "type": "product-name"
                },
                {
                    "type": "product-price"
                },
                {
                    "type": "description"
                },
                {
                    "type": "vendor"
                },
                {
                    "type": "tags"
                },
                {
                    "type": "add-to-cart"
                },
                {
                    "type": "availability"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": [
            "product"
        ]
    }
} {% endschema %}